Repository darrensemusemu/certify-d-api: changes, and which Prow jobs are due for each by the changed paths.
All: service.user-deploy, swagger-ui

Path conditions:
  service.user-deploy: any of: ^(service.user\/.*)|(\.prow\/service\.user\.yaml)$
  swagger-ui: any of: ((api\/openapi-spec\/.*)|(\.prow\/swagger[-]ui\.yaml))$

fix(prow): script path
  .prow/service.user.yaml
  .prow/swagger-ui.yaml
Due: service.user-deploy, swagger-ui

fix(scripts): chmod 777 skaffold-deploy.sh
  scripts/skaffold-deploy.sh
Due: none

wip(prow): reset jobs to postsumbit
  .prow/service.user.yaml
  .prow/swagger-ui.yaml
Due: service.user-deploy, swagger-ui

fix(upload.service): set api to v1
  api/openapi-spec/upload.yaml
  service.upload/cmd/server/main.go
  service.upload/pkg/api/openapi_spec.gen.go
Due: swagger-ui

refractor(prow): move skaffold build to shell script (#27)
  .prow/service.user.yaml
  .prow/swagger-ui.yaml
  .vscode/settings.json
  api/openapi-spec/upload.yaml
  scripts/skaffold-deploy.sh
  service.upload/cmd/server/main.go
  service.upload/pkg/api/openapi_spec.gen.go
Due: service.user-deploy, swagger-ui

feat: invalidate github ssh key
  service.user/build/Dockerfile
  service.user/build/keys/git_ed25519
  service.user/build/keys/git_ed25519.pub
Due: service.user-deploy

feat: invalidate github ssh key (#28)
  service.user/build/Dockerfile
  service.user/build/keys/git_ed25519
  service.user/build/keys/git_ed25519.pub
Due: service.user-deploy

feat(kratos): purge sendgrind a_p_i k_e_y
  third_party/kratos/k8s/kratos-secret.yaml
Due: none

wip
  .vscode/settings.json
  go.work.sum
  service.upload/go.mod
  service.upload/go.sum
  service.upload/internal/storage/blob/blob.go
  service.upload/internal/storage/blob/gs.go
  service.upload/internal/storage/blob/gs_test.go
  service.upload/internal/store/repository.go
Due: none

docs: update project README.md
  README.md
Due: none

docs: update Architecture.md and project README.md
  README.md
  docs/Architecture.md
Due: none

fix(service.user): rename readme file
  service.user/README.md
  service.user/REAME.md
Due: service.user-deploy

docs: update readme with nb quote
  README.md
Due: none

wip
  README.md
Due: none

docs: update docs (#29)
  README.md
  docs/Architecture.md
  service.user/README.md
  service.user/REAME.md
Due: service.user-deploy

feat(service.upload): upload files to google storage
  .gitignore
  .vscode/settings.json
  go.work.sum
  service.upload/go.mod
  service.upload/go.sum
  service.upload/internal/storage/blob/data/test-file.txt
  service.upload/internal/storage/blob/data/test-file2.txt
  service.upload/internal/storage/blob/gs.go
  service.upload/internal/storage/blob/gs_test.go
Due: none

feat(service.upload): add dev config file
  service.upload/cmd/server/main.go
  service.upload/config/server-config.yaml
  service.upload/internal/http/handler.go
  service.upload/internal/storage/blob/blob.go
  service.upload/internal/storage/blob/gs.go
  service.upload/internal/storage/blob/gs_test.go
  service.upload/internal/storage/db/postgres.go
Due: none

feat(service.upload): add google storage file uploads (#30)
  .gitignore
  .vscode/settings.json
  go.work.sum
  service.upload/cmd/server/main.go
  service.upload/config/server-config.yaml
  service.upload/go.mod
  service.upload/go.sum
  service.upload/internal/http/handler.go
  service.upload/internal/storage/blob/blob.go
  service.upload/internal/storage/blob/data/test-file.txt
  service.upload/internal/storage/blob/data/test-file2.txt
  service.upload/internal/storage/blob/gs.go
  service.upload/internal/storage/blob/gs_test.go
  service.upload/internal/storage/db/postgres.go
  service.upload/internal/store/repository.go
  third_party/kratos/k8s/kratos-secret.yaml
Due: none

refractor(common): clean up jwt pkg
  common/pkg/middleware/jwt/claims.go
  common/pkg/middleware/jwt/claims_test.go
  common/pkg/middleware/jwt/helper.go
  common/pkg/middleware/jwt/validator.go
  common/pkg/middleware/jwt/validator_test.go
Due: none

refractor(service.upload): clean service.upload
  .vscode/settings.json
  api/openapi-spec/upload.yaml
  service.upload/cmd/server/main.go
  service.upload/internal/http/handler.go
  service.upload/internal/storage/db/postgres.go
  service.upload/pkg/api/openapi_server.gen.go
  service.upload/pkg/api/openapi_spec.gen.go
Due: swagger-ui

refractor(service.user): config oapi codegen
  api/openapi-spec/user.yaml
  service.user/cmd/restapi/main.go
  service.user/cmd/server/main.go
  service.user/config/oapi-codgen_server.yaml
  service.user/config/oapi-codgen_spec.yaml
  service.user/config/oapi-codgen_types.yaml
  service.user/config/server-config.yaml
  service.user/go.mod
  service.user/go.sum
  service.user/internal/http/doc.go
  service.user/internal/http/handler.go
  service.user/internal/http/handler_test.go
  service.user/internal/http/rest/handler.go
  service.user/internal/http/rest/health.go
  service.user/internal/http/rest/user.go
  service.user/internal/http/rest/user_test.go
  service.user/internal/http/server/server.go
  service.user/internal/http/server/server_test.go
  service.user/internal/storage/db/doc.go
  service.user/internal/storage/db/postgres.go
  service.user/internal/storage/db/postgres_test.go
  service.user/internal/storage/postgres/doc.go
  service.user/pkg/api/gen.go
  service.user/pkg/api/openapi_server.gen.go
  service.user/pkg/api/openapi_spec.gen.go
  service.user/pkg/api/openapi_types.gen.go
Due: service.user-deploy, swagger-ui

chore: go work sync & go mod tidy
  common/go.mod
  common/go.sum
  go.work.sum
  service.upload/go.mod
  service.upload/go.sum
  service.user/go.mod
  service.user/go.sum
Due: service.user-deploy

refractor(service.upload): change "restapi" to server
  .prow/service.user.yaml
  service.user/deploy/k8s/ingress.yaml
  service.user/deploy/k8s/restapi.deployment.yaml
  service.user/deploy/k8s/service.yaml
  service.user/skaffold.yaml
Due: service.user-deploy

refractor(service.upload): rename server deploy file
  service.user/deploy/k8s/server-deployment.yaml
Due: service.user-deploy

fix: go mod
  service.upload/go.mod
  service.upload/go.sum
  service.user/go.mod
  service.user/go.sum
Due: service.user-deploy

wip
  .prow/service.user.yaml
  .prow/swagger-ui.yaml
  .vscode/settings.json
  api/openapi-spec/user.yaml
  service.user/cmd/server/main.go
  service.user/deploy/k8s/ingress.yaml
  service.user/deploy/k8s/server-deployment.yaml
  service.user/pkg/api/openapi_spec.gen.go
Due: service.user-deploy, swagger-ui

fix: remove prow folder
  .prow/README.md
  .prow/service.user.yaml
  .prow/swagger-ui.yaml
Due: service.user-deploy, swagger-ui

wip: c4 diagrams
  docs/diagrams/out/c4_l1_context.png
  docs/diagrams/out/c4_l2_container.png
  docs/diagrams/src/c4_components/auth_extsys/relations.puml
  docs/diagrams/src/c4_components/certify_sys/container.puml
  docs/diagrams/src/c4_components/certify_sys/relations.puml
  docs/diagrams/src/c4_components/company_actor/context.puml
  docs/diagrams/src/c4_components/company_actor/relations.puml
  docs/diagrams/src/c4_l2_container.puml
Due: none
